<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue-hello</title>
    <!-- IMPORT CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- IMPORT FONT  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <!-- CONTAINER MAIN  -->
    <div id="app">
        <h1>{{title}}</h1>
        <!-- VARI INPUT  -->
        <div class="containerInput">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" v-model="name">

            <label for="cognome">Cognome:</label>
            <input type="text" id="cognome" v-model="lastName">

            <label for="eta">Età:</label>
            <input type="number" id="eta" v-model="age" min="0" max="99">

            <div>
                <input type="radio" id="maschioRadio" name="sesso" value="maschio" v-model="sex" />
                <label for="maschioRadio">Maschio</label>

                <input type="radio" id="femminaRadio" name="sesso" value="femmina" v-model="sex" />
                <label for="femminaRadio">Femmina</label>
            </div>
        </div>

        <label for="avatar">Scegli avatar:</label>
        <select name="avatar" id="avatar" v-model="avatar">
            <option value="default">Default</option>
            <option value="avatar1" >Avatar1</option>
            <option value="avatar2" >Avatar2</option>
            <option value="avatar3" >Avatar3</option>
        </select>
        <!-- /VARI INPUT  -->

        <!-- RISULTATO  -->
        <div class="containerResult">
            <div><img :src="'img/'+avatar+'.png'" alt=""></div>
            <div>{{name + ' ' + lastName}}</div>
            <div>{{ age }}</div>
            <div>{{ sex }}</div>
        </div>
        <!-- RISULTATO  -->
    </div>
    <!-- /CONTAINER MAIN      -->
    <!-- ------------------------------------------------------ -->
    <!-- IMPORT VUE  -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- IMPORT MY JS  -->
    <script src="js/main.js"></script>
</body>

</html>